* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #2e2e2e;
}

#box {
    width: 250px;
    height: 250px;
    background-color: crimson;
}


.heading{
    border: 1px solid red;
    width: fit-content;
    padding: 1rem 2rem;
}


